@import '../../styles/variables.sass'

.adminPanel
    display: flex
    flex-grow: 1
    gap: 10px
    &__cards
        padding: 10px 10px 0 10px
        border-right: 1px solid $middle-grey-2
    &__form
        padding: 10px 10px 0 0
