@import '../../../styles/variables.sass'
    
.textInput
    width: 235px
    background: $light-grey
    color: $dark-grey-2
    border: none
    border-radius: 5px
    padding: 5px 16px
    outline: none
