@import '../../styles/variables'

.card
    margin-bottom: 10px
    width: 618px
    background: $light-grey
    border-radius: 10px
    padding: 10px
    border: 2px solid $primary-green
    &__title
        display: flex
        align-items: center
        justify-content: space-between
        margin-bottom: 5px
    &__id
        color: $dark-grey-2
        font-size: 8px
    &__status
    &__price
        font-size: 24px
// title
.title
    display: flex
    align-items: center
    text-transform: uppercase
    &__name
        color: $secondary-black
        font-weight: 700
        font-size: 14px
    &__type
    &__color
// icon
.close-icon
    width: 8px
    height: 8px
// statusPriceWrapper
.statusPriceWrapper
    display: flex
    justify-content: space-between
    align-items: center
